EXPO_PUBLIC_API_URL=https://YOUR_BACKEND_HOST
EXPO_PUBLIC_KAKAO_NATIVE_APP_KEY=YOUR_KAKAO_NATIVE_APP_KEY
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=YOUR_GOOGLE_WEB_CLIENT_ID.apps.googleusercontent.com
EXPO_PUBLIC_USE_MOCK_AUTH=true
